[submodule "database"]
	path = database
	url = https://github.com/K-Team-Coders/bfs-registry-database
[submodule "parser"]
	path = parser
	url = https://github.com/K-Team-Coders/bfs-registry-parser
[submodule "bfs-auth"]
	path = bfs-auth
	url = https://github.com/K-Team-Coders/bfs-auth
